# Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/local.properties

# IDE
.idea/
.vscode/

# Android / Gradle / Kotlin
android/.gradle/
android/.kotlin/
android/local.properties

# Flutter
.dart_tool/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies

# IDE
.idea/
.vscode/